body {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #2d3a4f;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

input {
  height: 1.2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  margin: 5px;
}

input:focus {
  box-shadow: 0 0 10px #fff;
}

.error {
  color: #a53d9a;
}
/* header,
main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* form */

.form__label {
  display: block;
}

.form__input {
  display: block;
  width: 80%;
}
/* section registrion */
.scn__registration {
  border-top: 1px solid white;
}

/* section login */
.scn__login {
  margin-top: 2rem;
  border-top: 1px solid white;
}

/* sections topics */
.scn__topics {
  min-width: 60%;
  margin-top: 3rem;
  border-top: 1px solid white;
}

.topic__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.topic__result {
  width: 100%;
  padding: 1rem;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 5px;
}

/* / Submit error / */
.submitError {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2rem 1rem;
}

.is-hidden {
  display: none;
}
