body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #3c5456;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header,
main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* / Submit error / */
.submitError {
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
}

/* auth */
.auth {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
}

@media only screen and (min-width: 600px) {
  .auth {
    flex-direction: row;
  }
}

/* registrion form */
.reg {
  margin: 2rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.reg__header {
  height: 20%;
}

.reg__form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reg__label {
  display: flex;
}

.reg__input {
  display: block;
  width: 80%;
}

/* login form */
.lgn {
  margin: 2rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.lgn__header {
  height: 20%;
}

.lgn__form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lgn__label {
  display: block;
}

.lgn__input {
  display: block;
  width: 80%;
}

/* add topic form */
.add-topic {
  height: 15vh;
  text-align: center;
}
/* topics list */

.topic__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 90%;
  max-width: 1000px;
}

.topic {
  width: 100%;
  padding: 1rem;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 5px;
}

.topic__avatar {
  height: 100%;
  width: 100%;
}
.is-hidden {
  display: none;
}
