body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #3c5456;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

header,
main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form */

.form__label {
  display: block;
}

.form__input {
  display: block;
  width: 80%;
}
/* section registrion */
.scn__registration {
  border-top: 1px solid white;
}

/* section login */
.scn__login {
  margin-top: 2rem;
  border-top: 1px solid white;
}

/* sections topics */
.scn__topics {
  margin-top: 3rem;
  border-top: 1px solid white;
}
.topic__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
}

.topic__result {
  width: 50%;
  padding: 1rem;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 5px;
}

